<div class="expandable-bar">
  <button class="compose-btn" (click)="onComposeClick()"><i class=" compose-pen bi bi-pen"></i> Compose</button>

  <div class="menu-section active"><i class="bi bi-inbox"></i>Inbox</div>
  <div class="menu-section"><i class="bi bi-star"></i>Starred</div>
  <div class="menu-section"><i class="bi bi-clock"></i>Snooze</div>
  <div class="menu-section"><i class="bi bi-send"></i>Sent</div>
  <div class="menu-section"><i class="bi bi-file-earmark"></i>Draft</div>
  <div class="menu-section">More</div>

  <div class="label-header">Labels</div>
  <div class="label-item"><i class="bi bi-tag-fill"></i> To do</div>
  <div class="label-item"><i class="bi bi-tag-fill"></i> UI</div>
</div>
