<div class="sidebar-container">
  <div class="icon-bar">
    <div class="sidebar-section sidebar-toggle" (click)="toggleSidebar.emit()">
      <div class="icon">☰</div>
    </div>

    <div class="sidebar-section">
      <i class="bi bi-envelope-fill icon"></i>
      <div class="label">Mail</div>
    </div>

    <div class="sidebar-section">
      <i class="bi bi-chat-left icon"></i>
      <div class="label">Chat</div>
    </div>

    <div class="sidebar-section">
      <i class="bi bi-camera-video icon"></i>
      <div class="label">Meet</div>
    </div>
  </div>

</div>
