<div class="right-sidebar">
  <div class="right-bar-icon" title="Calendar">
    📅
    <div class="label"></div>
  </div>

  <div class="right-bar-icon" title="Keep">
    💡
    <div class="label"></div>
  </div>

  <div class="right-bar-icon" title="Tasks">
    ✅
    <div class="label"></div>
  </div>

  <div class="right-bar-icon" title="Contacts">
    👤
    <div class="label"></div>
  </div>

  <div class="right-sidebar-under">
    <div class="right-bar-icon" title="Zoom">
      🎦
      <div class="label"></div>
    </div>

    <div class="right-bar-icon" title="Add-ons">
      ✚
      <div class="label"></div>
    </div>
  </div>


</div>
